
<div style="height: 120px;background-color: #624949;position: relative">
    <div style="position:absolute; text-align:center; width:100%; font-size:40px; color:white; top:30%">
        Customer Orders
    </div>
</div>
<div style="height:430px;">
    <div style="width:70%; margin:0 auto; margin-top:120px; position:relative;height: 280px; border: 2px solid black;text-align:center;background-color:#ffa8a8;border-radius:10px;">
        <div style="width: 100%; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
            <img src="~/lib/icons/construction-and-tools.png" width="100" />
            <div style="font-size:32px; margin-top:19px;">There is no vendor allocated to your account.</div>
            <div style="font-size:20px;">Please allow site operator to allocate a new vendor to this account.</div>
        </div>
    </div>

</div>