<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FYP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
</head>
<body>
    <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/js/site.js"></script>
    <div class="container">
        <div style="background-color:#ffb26e1f; min-height:90vh;">
            @RenderBody()
        </div>
        <div style="height:30px;" class="bg-dark">

        </div>
    </div>
</body>
</html>
