/*
*
* ==========================================
* OVERRIDE BOOTSTRAP
* ==========================================
*
*/

.btn-primary {
    color: #fff;
    background-color: #c26a3f;
    border-color: #7d4028;
}

input {
    background-color: #fff !important;
    border: 1px solid #a98e80 !important;
}

textarea {
    background-color: #fff !important;
    border: 1px solid #a98e80 !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.28);
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #792917;
    border-color: #533333;
    box-shadow: 0 0 0 .2rem rgba(255, 19, 19, 0.5);
}

.btn-primary:hover {
    color: #fff;
    background-color: #792917;
    border-color: #533333;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #33120f;
    border-color: #533333;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 19, 19, 0.5);
}

body {
    background-color: #ffb26e1f;
}

.btn-success {
    color: #fff;
    background-color: #529d63;
    border-color: #2b6037;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #635335;
    border-color: #59371e;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #9c4f2a;
    border-color: #9c4d26;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}

/*
*
* ==========================================
* CUSTOM CLASSES
* ==========================================
*
*/

.theme-title {
    height: 120px;
    background-color: #624949;
    position: relative;
}

.theme-title div {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
    top: 30%;
}

.bread-crumb {
    margin-left: 20px;
    margin-bottom: 20px;
}

.bread-crumb a {
    color: #743939;
}

.bread-crumb .bread-separator {
    margin: 0 10px;
}

.bread-crumb .bread-target {
    font-weight: 600;
}

.item-card {
    border: 1px solid black;
    background-color: #ffeded;
    height: 330px;
    position: relative;
}

.item-card .btn-icon {
    position: absolute;
    right: -5%;
    top: -5%;
    z-index: 6;
    border: 1px solid #7c3939
}

.item-card .item-label-box {
    position: absolute;
    bottom: 15%;
    height: 20%;
    width: 100%;
    text-align: center;
}

.item-card .item-label {
    position: absolute;
    line-height: 18px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 17px;
    width: 90%;
}

.item-card .item-price {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    position: absolute;
    bottom: 3%;
    right: 0%;
    font-size: 20px;
    padding: 2px 20px;
    color: white;
    background-color: #50778e;
}

.form-box div {
    font-size: 17px;
    margin-bottom: 10px;
}

td {
    vertical-align: middle !important;
}