.btn-primary {
    color: #fff;
    background-color: #c26a3f;
    border-color: #7d4028;
}

input {
    background-color: #fff3ed !important;
    border: 1px solid #a98e80 !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.28);
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #792917;
    border-color: #533333;
    box-shadow: 0 0 0 .2rem rgba(255, 19, 19, 0.5);
}

.btn-primary:hover {
    color: #fff;
    background-color: #792917;
    border-color: #533333;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #33120f;
    border-color: #533333;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 19, 19, 0.5);
}

body {
    background-color: #ffb26e1f;
}

.btn-success {
    color: #fff;
    background-color: #529d63;
    border-color: #2b6037;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}